/* work sans font from google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* common sheared styles */
*{
    font-family: "Open Sans", serif;
}
.btn-primary{
    border-radius: 8px;
    color: #fff;
    background: #ff900e;
    padding: 20px 25px;
    font-size: 1.25rem;
    border: none;
    cursor: pointer;
}
.text-light-gray{
    color: #727272;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

/* body */
body{
    margin: 0;
}
/* header section */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color: #424242;
}


/* banner styles */
.banner-content{
    /* border: 2px solid saddlebrown; */
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img{
    width: 100%;
    margin-top: 20px;
}
/* main styles */
main{
    /* border: 2px solid rebeccapurple; */
    max-width: 1440px;
    margin: 70px auto;
}

/* teams styles */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    /* border: 2px solid red; */
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick-list{
    font-weight: 500;
}
.teams-title .text-features{
    color: #ff900e;
    font-weight: 700;
}

/* feature section */
.feature{
    margin-top: 130px;
    display: flex;
    gap: 100px;
}
.feature .section-title{
    border-left: 5px solid #ff900e;
    padding-left: 20px;
}
.feature-content .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.ten-years-badge{
    border-radius: 8px;
    background: #ff900e;
    color: #fff;
    width: 340px;
    height: 150px;
    padding: 40px;
    text-align: center;
}
.ten-years-badge h2{
    font-size: 4rem;
    margin: 0 auto;
}

/* facts section */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #ff900e;
    text-align: center;
    font-size: 2.8rem;
    padding: 30px;
}
.facts-card-container .card-title{
    /* border: 1px solid royalblue; */
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponsors styles */
.sponsors{
    text-align: center;
}
.sponsors-img-container{
    /* border: 2px solid rebeccapurple; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 40px;
    align-items: center;
}
.sponsors-img-container img{
    width: 165px;
}

/* footer section */
footer{
    border: 2px solid rgba(255, 144, 14, 0.10);
    max-width: 1440px;
    max-height: 250px;
    text-align: center;
    margin: 100px auto;
    background: rgba(255, 144, 14, 0.10);
}

/* responsive media queries */

/* small devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav,
    .teams-container,
    .feature,
    .facts-card-container,
    .sponsors-img-container
    {
        flex-direction: column;
    }
    .feature-img img{
        width: 100%;
        margin-left: 0;
    }
    .ten-years-badge{
        position: static;
        max-width: 255px;
    }
    .teams-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .teams-content,
    .facts-card-container
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .facts-card-container{
        gap: 20px;
    }
    .feature,
    .fact,
    .sponsors,
    footer
    {
        margin: 50px 20px;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 20px;
    }
    nav,
    .feature,
    .teams-container,
    .sponsors-img-container
    {
        flex-direction: column;
    }
    .feature-img img{
        width: 100%;
        margin-left: 0;
    }
    .teams-img-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature,
    .fact,
    .sponsors,
    footer
    {
        margin: 50px 20px;
    }
}